.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
.DS_Store
.byebug_history
.bundle/
.sass-cache/
Gemfile.lock
pkg/
test/dummy/tmp/
test/dummy/public/
log/*.log
test/dummy/log/*.log
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
engines/workarea-bogus-theme/test/dummy/db/*.sqlite3
engines/workarea-bogus-theme/test/dummy/db/*.sqlite3-journal
engines/workarea-bogus-theme/test/dummy/log/*.log
engines/workarea-bogus-theme/test/dummy/tmp/
engines/workarea-bogus-theme/test/dummy/.sass-cache
app
